---
layout: default
---

<h1 style="text-align: center;">Posts mit der Kategorie '{{ page.title }}'</h1>
<div class="post-container">
  {% for post in page.posts %}
  {%- include post-card.html post=post -%}
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var cards = document.querySelectorAll('.post-card');
    cards.forEach(function (card) {
      card.addEventListener('click', function () {
        window.location.href = card.getAttribute('data-url');
      });
    });
  });
</script>